
{% extends 'base.html' %}

{% block body %}
{% if melons %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melons %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.quantity }}</td>
                <td>{{ melon.price_str() }}</td>
                <td>${{ melon.melon_total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ order_total }}</h3>
    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
    <a href="/melons" class="btn btn-large btn-primary">Continue Shopping</a>
    <a href="/clear_cart" class="btn btn-large btn-primary">Clear Cart</a>

{% endif %}
{% endblock %}
